*.iml
.kotlin
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
keystore
keystore.properties
stgkeystore.properties
browser/crypto/execute/CMakeCache.txt
browser/crypto/execute/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
browser/crypto/execute/CMakeFiles/CMakeOutput.log
browser/crypto/execute/CMakeFiles/cmake.check_cache
*.apk
*.aab
google-services.json
/build-cache
GoogleService-Info.plist
output-metadata.json
.omc