<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.networking.networkextension</key>
	<array/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.mangala.coldwallet.apptp</string>
		<string>group.com.mangala.coldwallet.bookmarks</string>
		<string>group.com.mangala.coldwallet.contentblocker</string>
		<string>group.com.mangala.coldwallet.statistics</string>
		<string>group.com.mangala.coldwallet.database</string>
	</array>
</dict>
</plist>
